/deps/
*~
/local/
/perl
/prove
/plackup
/Makefile.setupenv
/cin
/config/perl/libs.txt
/src/set/unicode*/*/files
/src/set/idna-tables*/files
/src/set/uax31/files
/src/set/xml10-5e/suggested-files
/src/set/jisx0208/files
/src/set/jisx4051/files